<!-- PRODUCTS-LIST-FIRST -->
<div class="primary first-list">
  <div class="container-item">
    <div class="container-product">
      <img
        src="./assets/images/produse/pure-five-products-1000x1000-tincture-mint-1500.png"
        alt=""
      />
    </div>
    <p>Oils & Tinctures</p>
  </div>
  <div class="container-item">
    <div class="container-product">
      <img
        src="./assets/images/produse/360-Berry-Punch---Social-Water.png"
        alt=""
      />
    </div>
    <p>Fdibles & Drinks</p>
  </div>
  <div class="container-item">
    <div class="container-product">
      <img
        src="./assets/images/produse/4d6a609e74b9420febddbc2489b2b5f4.png"
        alt=""
      />
    </div>
    <p>Body & Skin Care</p>
  </div>
</div>
