<!-- HEADER -->
<header>
  <!-- NAV-BAR -->
  <div class="list list-options">
    <ul class="options">
      <li class="nav-list">Our Blog</li>
      <li class="nav-list">About Us</li>
      <li class="nav-list">Contact Us</li>
    </ul>
  </div>
  <img class="logo" src="./assets/images/logo/Vector Smart Object.png" />
  <div class="list list-icons">
    <ul class="icons">
      <li class="nav-list">
        <i class="fa-solid fa-magnifying-glass fa-xl"></i>
      </li>
      <li class="nav-list">
        <i class="fa-solid fa-cart-shopping fa-xl"></i>
      </li>
      <li class="nav-list"><i class="fa-solid fa-user fa-xl"></i></li>
    </ul>
  </div>
</header>
