<!-- INSTAGRAM LSIT -->
<div class="container-insta">
  <!-- FEED -->
  <span class="feed">#INSTAGRAM FEED</span>
  <div class="primary instagram-list">
    <span class="insta-photo"
      ><img src="./assets/images/poze mari/ig1.png" alt=""
    /></span>
    <span class="insta-photo"
      ><img src="./assets/images/poze mari/ig2.png" alt=""
    /></span>
    <span class="insta-photo"
      ><img src="./assets/images/poze mari/ig3.png" alt=""
    /></span>
    <span class="insta-photo"
      ><img src="./assets/images/poze mari/ig4.png" alt=""
    /></span>
    <span class="insta-photo"
      ><img src="./assets/images/poze mari/ig5.png" alt=""
    /></span>
    <span class="insta-photo"
      ><img src="./assets/images/poze mari/ig6.png" alt=""
    /></span>
  </div>
</div>
