<!-- PRODUCTS-LIST-SECOND -->
<div class="primary second-list">
  <div class="item">
    <div class="container-produs">
      <img
        class="produse"
        src="./assets/images/produse/PureKana-CBD-Gummies-1-1.png"
      />
    </div>
    <p class="price-name">CBD Vegan Gummies</p>
    <span class="price price-normal">$50</span>
  </div>
  <div class="item">
    <div class="container-produs">
      <img
        class="produse"
        src="./assets/images/produse/Purekana-Mint-CBD-Oil-1000mg-2-1024x1024.png"
      />
    </div>
    <p class="price-name">Mint CBD Oil 1000mg</p>
    <span class="price price-normal">$100</span>
  </div>
  <div class="item">
    <div class="container-produs">
      <img
        class="produse"
        src="./assets/images/produse/Purekana-CBD-Topical-2-1024x1024.png"
      />
    </div>
    <p class="price-name">3.4oz Topizal CBD Ointment</p>
    <span class="price price-normal">$150</span>
  </div>
  <div class="item">
    <div class="container-produs">
      <img
        class="poza-produs"
        src="./assets/images/produse/PureKana-CBD-Capsules-1-1024x1024.png"
      />
    </div>
    <p class="price-name">CBD Capsules</p>
    <span class="price price-normal cut">$70</span>
    <span class="price price-special">$60</span>
  </div>
</div>
