<!-- PRODUCT-LIST-THIRD -->
<div class="primary third-list">
  <div class="blog-container">
    <div class="blog-post">
      <img class="poza-produs" src="./assets/images/poze mici/poza1mare.png" />
    </div>
    <span>Jan 02, 2020</span>
    <p>The Ultimate Experience With CBD Bath Bombs</p>
    <span>Read More <i class="fa-solid fa-angle-right"></i></span>
  </div>
  <div class="blog-container">
    <div class="blog-post">
      <img src="./assets/images/poze mici/poza2mare.png" alt="" />
    </div>
    <span>Jan 02, 2020</span>
    <p>What are CBD Lollipips ?</p>
    <span>Read More <i class="fa-solid fa-angle-right"></i></span>
  </div>
  <div class="blog-container">
    <div class="blog-post">
      <img src="./assets/images/poze mici/poza3mare.png" alt="" />
    </div>
    <span>Jan 02, 2020</span>
    <p>CBD Candy: Why Are These Edibles Becoming So Popular</p>
    <span>Read More <i class="fa-solid fa-angle-right"></i></span>
  </div>
</div>
